<!DOCTYPE html>
<html lang="en">

<style>
.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.limit-table-col-30
{
  width:30%;
}
.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Savo</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow-x: hidden; background-color: white;">


    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-wrapper" style='border-radius: 0; font-family: "Lato",sans-serif;'>
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <h1 class="page-header">Personal Account Details<a href="./newtrip2.html" role="button" class="btn btn-success btn-lg" style="float: right; font-size: 15px;"><i class="fa fa-plus-square"></i> New Trip</a></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="col-lg-6 col-lg-offset-2">
                  <div class="panel panel-default">
                    <%= form_tag("/updateSettings", method: :post) do%>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                        <label for="name">Name</label>
                                        <!-- <input type="text" class="form-control" id="name" placeholder="Anna Karenina"> -->
                                       <%= text_field_tag 'name',nil ,:value => @user.name, class: 'form-control'%>
                                            <br>
                                        <label for="gender">Gender</label>
                                        <!-- <input type="text" class="form-control" id="gender"> -->
                                        <%= text_field_tag 'gender',nil ,:value => @user.gender, class: 'form-control'%>
                                            <br>
                                        <label for="email">E-mail</label>
                                        <!-- <input type="email" class="form-control" id="email" placeholder="anna@bain.com" disabled> -->
                                        <%= email_field 'email',nil ,:placeholder => @user.email, class: 'form-control'%>
                                            <br>
                                
                                    <label for="Designation">Designation</label>
                                    <%= text_field_tag 'designation',nil ,:value => @user.level , class: 'form-control'%>
                                    <br>
                                    <label for="HotelCat">Hotel Category</label>
                                    <!-- <input type="text" class="form-control" id="HotelCat" placeholder="3 Star" disabled> -->
                                    <%= text_field_tag 'HotelCat',nil ,:placeholder => @user.max_hotel, class: 'form-control'%>
                                    <br>
                                    <label for="FlightCat">Flight Category</label>
                                    <!-- <input type="text" class="form-control" id="FlightCat" placeholder="Economy" disabled > -->
                                     <%= text_field_tag 'FlightCat',nil ,:placeholder => @user.max_flight, class: 'form-control' %>
                                </div>
                            </div>
                    </div>
                        <div class="text-center" style="margin-bottom: 40px;">
                        <%= submit_tag 'Request Profile Update', :class => 'btn btn-primary btn-lg', :style => 'width: 230px; height: 40px;margin-right: 10px; padding: 0 5px 5px 5px; font-size: 15px;' %>
                        <!--<a href="./budgetToBeat.html"><button type="button" class="btn btn-primary btn-lg">Request Profile Update</button></a>-->
                        <!-- <a href="./budgetToBeat.html"><button type="button" class="btn btn-success btn-lg" >Change Password</button></a> -->
                        <%= submit_tag 'Change Password', :class => 'btn btn-primary btn-lg', :style => 'width: 180px; height: 40px; margin-right: 10px; float: right; padding: 0 5px 5px 5px; font-size: 15px;' %>
                        </div>

                </div>
                    <% end %>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
     <script>
    $(document).ready( function () {
        $('#dataTables-example').DataTable();
    } );
    $(document).ready( function () {
        $('#dataTables-example2').DataTable();
    } );
    $(document).ready( function () {
        $('#dataTables-example3').DataTable();
    } );
    </script>
</body>

</html>